//This is organized by general areas (ie body) and then alphabetically by component

// **** general *****
body {
	position: relative;
  color: black;
  height: 100vh;
  // background-color: #232C39;
  // background-image: linear-gradient(45deg, rgba(11, 23, 172, .5) 10%, rgba(253, 89, 146, .7));
	font-family: 'Titillium Web', sans-serif;
  overflow-y: hidden;
	margin: 30px;
}

// ***** gitTree.js *******
.gitTree-container {
	width: 100%;
	height: 100vh;
	color: black;
}

// ***** login.js *****
.login-container {
	position: relative;
	top: 150px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;

	h2 {
		text-align: center;
	}
}
.login-logo {
	margin: 0 auto;
	width: 100%;
}
.enter-form {
	margin-top: 30px;
}
.form-control {
	margin-bottom: 10px;
}
.enter-form .btn {
  width: 49%;
}
#LoginButton {
	float: left;
}
#signUpButton {
	float: right;
}

// ****** Main.js *****
.side-nav-bar-container {
	padding: 10px;
	color: white;
	width: 30%;
	height: 100vh;
	float: left;
	font-size: 30px;
	
	background-color: #5DADE2;
	h5 {
		font-size: 24px;

		text-align: left;
		font-weight: bold;
		text-transform: capitalize;
	}
}
.view-container {
	width: 70%;
	height: 100%;
	float: right;
}
.login {
	margin-top: 30px;
}
#login-org,
#login-repo {
	color: #000;
	display: block;
  margin: 0 auto;
	width: 100%;
}
.login-submit {
  background: #2874A6;
	color: white!important;
  border: none;
  color: #000;
  transition: 0.3s all ease-in-out;
	width: 100%;
	text-align: left;
  &:hover {
  	border: 1px solid #ccc;
  	background: #ccc;
  }
  &:active {
  	outline: none;
  }
}
.folder-button {
	width: 100%;
	color: #2874A6;
	text-align: left;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 30px;
	text-align: left;
}
li {
  transition: 0.3s all ease-in-out;
	width: 100%;
	color: white!important;
	font-weight: bold;
  &:hover {
  	background: white;
  }
  &:active {
  	outline: none;
  }
}
// ***** end main.js *****


// ***** terminal *******
.terminal-container {
	height: 100vh;
}

#cy {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}

.cytocontainer {
	position: relative;
	height: 800px;
}

.qtip {
	color: #000;
}