// Variables
@import 'variables/colors';

// Modules
@import 'modules/login';
@import 'modules/nav-bar';
@import 'modules/git-tree';
@import 'modules/terminal';
@import 'modules/chat-room';
@import 'modules/analytics/team-commits';

// General Styles
body {
	position: relative;
  color: black;
  font-family: 'Catamaran', sans-serif;
}

#app {
  height: 100vh;
}
// Will need to clean up and move to _login.scss file
// ****** teamLogin.js *****
#teamLogin-container {
	.team-h5 {
		margin-bottom: 25px;
	}
	h3 {
		margin-bottom: 50px;
		letter-spacing: 2px;
	}
}

// Main.js View
.view-container {
	margin-left: 13em;
	height: 100%;
	// height: 100vh;
	// position: relative;
}

.landing-logo {
	width: 25em;
	margin-left: auto;
	margin-right: auto;
	display: block;
	opacity: .5;
	padding-top: 5em;
}

// Temporary workaround - will clean up later
.login-submit2 {
	background: #2874A6;
	color: $white !important;
  border: none;
  color: $black;
  transition: 0.3s all ease-in-out;

  &:hover {
  	background: $login-gray;
  }

  &:active {
  	outline: none;
  }
}

// Not sure if this is still needed
// .folder-button {
// 	width: 100%;
// 	color: #2874A6;
// 	text-align: left;
// }
