body {
	position: relative;
  color: white;
  height: 100vh;
  background-color: #232C39;
  background-image: linear-gradient(45deg, rgba(11, 23, 172, .5) 10%, rgba(253, 89, 146, .7));
	font-family: 'Titillium Web', sans-serif;
  overflow-y: hidden;
	margin: 30px;
	text-align: center;
}

.containing-div-all {
	h1 {
		letter-spacing: 2px;
	}
	text-align: center;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}
.containing-div {
	height: 100vh;
	width: 100%;
}

.terminal-container {
	height: 33%;
	outline: none;
	text-align: left;

	&:focus {
		outline: 0;
	}
}
.commits-container {
	height: 45%;
}
.panel-default {
	background: rgba(255, 255, 255, 0.2);
	border: 0;
	position: relative;
	top: 20px;
}
.panel-default > .panel-heading {
	background: rgba(255, 255, 255, 0.3)!important;
	border: 0;
	color: white;
	h5 {
		font-size: .9em;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}
.panel-default > .panel-body {
	height: calc(100vh - 400px);
	overflow-y: auto;
	font-size: .9em;
	text-align: left;
}
