$black: #000;
$white: #fff;
$green: #19c383;
$gray: #ccc;
$dark-green: #1b4e3b;

// Login
$login-gray: #808080;
$login-green: $green;

// Nav Bar
$nav-bar-green: #2C805D;
$nav-bar-text: $gray;

// Git Tree styled through Cytoscape
