.graph-page-container {
	width: 602px;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	top: 50px;
}
.graph-container {
	width: 600px;
	position: relative;
	text-align: center;
	color: gray;
}
