// Nav Bar View
.nav-bar-container {
	background-color: $nav-bar-green;
	color: white;
	float: left;
	height: 100vh;
	max-width: 13em;
	position: relative;
	width: 100%;
}

.nav-bar-user {
  background: rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;

	p {
		font-size: 18px;
		margin-bottom: 7px;

		&:last-child {
			font-size: 14px;
			margin-bottom: 0;
		}
	}
}

.nav-bar-avatar {
	border-radius: 50%;
	margin-bottom: 10px;
	width: 60px;
}

.nav-bar-links {
	padding: 0;

	ul {
		list-style-type: none;
		padding-left: 0;
		text-align: left;
	}

	a {
		color: $nav-bar-text;
		display: block;
		font-size: 13px;
		font-weight: bold;
		line-height: 13px;
		padding: 12px 20px;
		width: 100%;

		&:hover {
			background: rgba(0,0,0,.1);
			color: $white;
			text-decoration: none;
		}
		
		&:visited {
			color: $white;
			text-decoration: none;
		}
	}

	.fa {
		width: 25px;
	}
}